<div class="form-group">
	<%= f.input :title, input_html: { class: "form-control" }%>	
</div>
<div class="form-group">
	<%= f.input :body, input_html:{ class: "form-control" }%>
</div>
<div class="form-group">
	<%= f.button :submit, class: "btn btn-primary pull-right" %>
</div>

