<section class="body">
	<div class="container">
		<h1>Blog</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus eum assumenda id doloribus repudiandae unde quidem tenetur laboriosam est delectus debitis consequuntur itaque esse harum, totam, rem accusamus, cumque. Dolores.</p>
	</div>
</section>
<style>
	.body{
		background-color: #4285f4;
	}
</style>